files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01_migrate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/migrate ]
      then
        rm /tmp/migrate
        sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py migrate --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/02_collectstatic.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/collectstatic ]
      then
        rm /tmp/collectstatic
        sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py collectstatic --noinput
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/03_createsu.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/createsu ]
      then
        rm /tmp/createsu
        sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py createsu
      fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/04_job_cron.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      if [ -f /tmp/job_cron ]
      then
        rm /tmp/job_cron
        */10 * * * * sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py job_twayair --settings=config.settings.production
        echo "Cron running at "`date` > /tmp/cron_example.log
      fi
