files:
  "/etc/cron.d/mycron":
    mode: "000644"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      */10 * * * * root /usr/local/bin/myscript.sh

  "/usr/local/bin/myscript.sh":
      mode: "000755"
      owner: root
      group: root
      content: |
        #!/usr/bin/env bash
        sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py job_jeju --settings=config.settings.production > /var/log/cron_job.log 2>&1
        echo "Cron running at "`date` > /tmp/cron_example.log
        sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py send_mail --settings=config.settings.production > /var/log/cron_job_mailing.log 2>&1

        exit 0

commands:
  remove_old_cron:
    command: "rm -rf /etc/cron.d/*.bak"