files:
  "/tmp/cronjob":
    mode: "000777"
    owner: root
    group: root
    content: |
      */10 * * * * sudo docker exec `sudo docker ps -q` /root/.pyenv/versions/ticket/bin/python /srv/ticket/app/manage.py job_twayair --settings=config.settings.production
      echo "Cron running at "`date` > /tmp/cron_example.log
    encoding: plain
container_commands:
  purge_basket:
    command: crontab /tmp/cronjob
    leader_only: true