{% extends 'base.html' %}
{% block content %}
    <div>
        <table class="table" border="1">
            <thead class="thead-dark">
            <tr>
                <th scope="col">mail주소</th>
                <th scope="col">출발날짜</th>
                <th scope="col">출발시간</th>
                <th scope="col">유저가</th>
                <th scope="col">가격</th>
            </tr>
            </thead>
            <tbody>
            {% for price_list in price_lists %}
                <tr>
                    <th>{{ price_list.mail_address }}</th>
                    <th>{{ price_list.departure_date }}</th>
                    <th>{{ price_list.departure_datetime }}</th>
                    <th>{{ price_list.user_max_price }}</th>
                    <th>{{ price_list.ticket_price }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


