{% extends 'base.html' %}
{% block content %}
    <div>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div>
                <h4>받을 email 주소
                    <input type="text" name="mail_address" id="mail_address">
                </h4>
            </div>

            <button type="submit" name="send_mail"> 메일 보내기</button>
            <button type="submit" name="search">조회하기</button>
        </form>
        <table class="table" border="1">
            <thead class="thead-dark">
            <tr>
                <th scope="col">mail주소</th>
                <th scope="col">항공사</th>
                <th scope="col">출발날짜</th>
                <th scope="col">출발시간</th>
                <th scope="col">출발지</th>
                <th scope="col">도착지</th>
                <th scope="col">유저가격</th>
                <th scope="col">가격</th>
            </tr>
            </thead>
            <tbody>
            {% for price_list in price_lists %}
                <tr>
                    <th>{{ price_list.mail_address }}</th>
                    <th>{{ price_list.flight_company }}</th>
                    <th>{{ price_list.departure_date }}</th>
                    <th>{{ price_list.departure_datetime }}</th>
                    <th>{{ price_list.origin_place }}</th>
                    <th>{{ price_list.destination_place }}</th>
                    <th>{{ price_list.user_max_price }}</th>
                    <th>{{ price_list.ticket_price }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


