{% extends 'base.html' %}

{% block content %}
    <div>
        <h3>web에서 항공권 검색</h3>
        <form action="">
            <input type="text" name="departure_date" placeholder="출발일">
            <div>
                <h3>노선선택 </h3>
                <select name="air_route" id="air_route">
                    <option value="김포_제주">김포-제주</option>
                    <option value="제주_김포">제주-김포</option>
                </select>
                <button type="submit">검색</button>
            </div>
        </form>

        <table class="table" border="1">
            <thead class="thead-dark">
            <tr>
                <th scope="col">출발날짜</th>
                <th scope="col">출발시간</th>
                <th scope="col">도착날짜</th>
                <th scope="col">도착시간</th>

                <th scope="col">비행시간</th>
                <th scope="col">출발도시</th>
                <th scope="col">도착도시</th>
                <th>항공사</th>
                <th scope="col">가격</th>
                <th scope="col">출처</th>
                <th>데이터 추출시간</th>
                <th>잔여 좌석</th>
                {#                <th>데이터 수정시간</th>#}
            </tr>
            </thead>

            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <th>{{ ticket.departure_date }}</th>
                    <th>{{ ticket.departure_datetime }}</th>
                    <th>{{ ticket.arrival_date }}</th>
                    <th>{{ ticket.arrival_datetime }}</th>
                    <th>{{ ticket.flight_time }}</th>
                    <th>{{ ticket.origin_place }}</th>
                    <th>{{ ticket.destination_place }}</th>
                    <th>{{ ticket.flight_company }}</th>
                    <th>{{ ticket.ticket_price }}</th>
                    <th>{{ ticket.data_source }}</th>
                    <th>{{ ticket.create_datetime }}</th>
                    <th>{{ ticket.leftseat }}</th>
                    {#                    <th>{{ ticket.modify_datetime }}</th>#}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}